.App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.OrderForm {
  width: 49%;
}
.OrderSummary {
  border: 1px solid #D8E1E8;
  border-radius: 3px;
  width: 49%;
  padding: 20px;
}

.OrderSection {
  border: 1px solid #D8E1E8;
  padding: 20px;
  border-bottom-width: 0;
}

.OrderSection:first-child {
  border-radius: 3px 3px 0 0;
}

.OrderSection:last-child {
  border-radius: 0 0 3px 3px;
  border-bottom-width: 1px;
}

.OrderSection header {
  margin-bottom: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.OrderSection h5,
.OrderSection h6 {
  display: inline;
}

.OrderSection h6 {
  cursor: pointer;
  color: #8A9BA8;
  font-weight: 400;
}

.App .OrderSection:first-child {
  background: #F5F8FA;
}

.App .OrderSection:first-child header input {
  width: 100px;
  font-weight: 600;
  margin-bottom: 10px;
}

.App .OrderSection .pt-slider-track,
.App .OrderSection .pt-slider-progress {

}

.App .OrderSection .pt-range-slider .pt-slider-handle {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
